@import "tailwindcss";

@theme {
    --color-*: initial;
    --color-primary: #004632;
    --color-secondary: #b33e04;
    --color-white: #ffffff;
    --color-gray: #3d5e59;
    --color-slate: #e8f2e7;
    --color-black: #000000;
}

html,
body {
    background: var(--color-slate);
    color: var(--color-gray);
}

.container {
    padding-left: 2rem;
    padding-right: 2rem;
    margin-left: auto;
    margin-right: auto;
}

.hide-scrollbar {
    -ms-overflow-style: none; /* Internet Explorer 10+ */
    scrollbar-width: none;
}
.hide-scrollbar::-webkit-scrollbar {
    display: none;
}

.fade-enter-active,
.fade-leave-active {
    transition:
        opacity 1s ease,
        transform 1s ease;
}

.fade-enter-from,
.fade-leave-to {
    opacity: 0;
    transform: translateY(2rem);
}

.tiptap {
    padding: 1.5rem;
    border: 2px color-mix(in oklab, var(--color-gray) 30%, transparent) solid;
    border-radius: var(--radius-xl);
    outline: 0 !important;
}
.tiptap:focus {
    border-color: var(--color-secondary);
}
.tiptap :first-child,
.wysiwyg-wrapper :first-child {
    margin-top: 0 !important;
}
.tiptap > p,
.tiptap > h1,
.tiptap > h2,
.tiptap > h3,
.tiptap > h4,
.tiptap > h5,
.tiptap > h6,
.wysiwyg-wrapper > p,
.wysiwyg-wrapper > h1,
.wysiwyg-wrapper > h2,
.wysiwyg-wrapper > h3,
.wysiwyg-wrapper > h4,
.wysiwyg-wrapper > h5,
.wysiwyg-wrapper > h6 {
    margin-top: 1rem;
}
.tiptap > p.is-editor-empty:first-child::before {
    color: var(--gray-4);
    content: attr(data-placeholder);
    float: left;
    height: 0;
    pointer-events: none;
}
.tiptap > ul,
.tiptap > ol,
.wysiwyg-wrapper > ul,
.wysiwyg-wrapper > ol {
    margin-top: 1rem;
    padding-left: 1.25rem;
}
.tiptap > ul,
.wysiwyg-wrapper > ul {
    list-style: disc;
}
.tiptap > ol,
.wysiwyg-wrapper > ol {
    list-style: decimal;
}
.tiptap > ul[data-type="taskList"],
.wysiwyg-wrapper > ul[data-type="taskList"] {
    list-style: none;
    padding-left: 0rem;
}
.tiptap > ul[data-type="taskList"] > li,
.wysiwyg-wrapper > ul[data-type="taskList"] > li {
    display: flex;
}
.tiptap > ul[data-type="taskList"] > li label,
.wysiwyg-wrapper > ul[data-type="taskList"] > li label {
    flex-grow: 0;
    flex-shrink: 0;
    margin-right: 0.5em;
}
.tiptap > pre,
.wysiwyg-wrapper > pre {
    margin-top: 1rem;
    padding: 1rem 1.25rem;
    background: var(--color-slate);
    border-radius: var(--radius-xl);
}
.tiptap img,
.wysiwyg-wrapper img {
    display: block;
    height: auto;
    margin-top: 1rem;
    max-width: 100%;
}
.has-triangle-bottom::before,
.has-triangle-top::before {
    position: absolute;
    display: block;
    content: "";
    left: 50%;
}
.has-triangle-bottom::before {
    bottom: 0;
    transform: translate(-50%, 100%);
    border-left: 0.5rem transparent solid;
    border-right: 0.5rem transparent solid;
    border-top: 0.5rem var(--color-primary) solid;
}
.has-triangle-top::before {
    top: 0;
    transform: translate(-50%, -100%);
    border-left: 0.5rem transparent solid;
    border-right: 0.5rem transparent solid;
    border-bottom: 0.5rem var(--color-primary) solid;
}
